/* src/styles/App.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.buttons {
    margin-bottom: 20px;
}

.listContainer {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.list {
    display: flex;
    width: auto;
}

.listItem {
    width: 20vw;
    height: 20vw;
    margin-right: 10px;
    flex-shrink: 0;
    background-color: red; /* Цвет фона по умолчанию, можно удалить или заменить */
}

.itemEnter {
    opacity: 0;
    transform: translateX(-100%);
}

.itemEnterActive {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.itemExit {
    opacity: 1;
    transform: translateX(0);
}

.itemExitActive {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
